/* * {
    border: 1px solid pink;
} */

.twitpanel{
    border: 1px solid black;
}

.twitpanel{
    font-weight: bolder;
}

.twitwhen{
    font-weight: lighter;
}

h1{
    text-align:center;
}

html, body{
    height: 100%;
    background-color: #F4EEFF;
    color: #424874;
}

.root-container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.twitcontainer{
    width: 50%;
    margin: 0 auto;
    background-color: #A6B1E1;
}

.twitform{
    width: 50%;
    margin: 0 auto;

}

#twitinput{
    padding: 20px;
}

.errmsg{
    background: #FFCCCB;
    color: darkred;
    font-weight: bolder;
}
.statusmsg{
    background: #CCFDCC;
    color: darkgreen;
    font-weight: bolder;
}

.project-meta{
    border: 1px solid black;
    background: #DCD6F7;
    font-weight: bolder;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}