<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twit-ish</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
    <div class="project-meta">
        This page demonstrates writing to Postgres, as well as Express templates if there is an error.
    </div>

    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="screenname">Screenname</label>
        <input type="text" name="screenname" id="screenname" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" name="submit" value="Create User" />
    </form>
    
    ${
        err ? `<p class='errmsg'>${err} -- Please try again.</p>` : ''
    }
</body>
</html>