<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twit-ish</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
    <div class="root-container">

        <h1>Twit-ish User Signup</h1>
        <div class="project-meta">
            ${metapreamble}

            <p>This page demonstrates: writing to Postgres, as well as Express and Express templates.</p>

            ${metaghlink}
        </div>

        <form action="/signup" method="post">
            <div>
                <input type="text" name="username" id="username" required>
                <label for="username">Username</label>
            </div>
            <div>
                <input type="text" name="screenname" id="screenname" required>
                <label for="screenname">Screenname</label>
            </div>
            <div>
                <input type="email" name="email" id="email" required>
                <label for="email">Email</label>
            </div>
            <div>
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <br>
            <input type="submit" name="submit" value="Create User" />
        </form>
        
        ${
            err ? `<p class='errmsg'>${err} -- Please try again.</p>` : ''
        }
    </div>
</body>
</html>