<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twit-ish Update User Info</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>
<body>
    <div class="root-container">

        <h1>Update Settings for User: ${userInfo.username}</h1>   
        <div class="project-meta">
            ${metapreamble}

            <p>This page demonstrates: reading from and updating Postgres, as well as Express, 
                Express templates, and JWT token validation.</p>

            ${metaghlink}
        </div> 

        <form action="/updateuser" method="post">
            <div>
                <input type="text" name="screenname" id="screenname" value="${userInfo.screenname}" required>
                <label for="screenname">Screen Name</label>
            </div>
            <div>
                <input type="email" name="email" id="email" value=${userInfo.email} required>
                <label for="email">Email</label>
            </div>    
            <br>
            <input type="submit" name="submit" value="Update" />
        </form>

        ${updateStatus ? `<p class='statusmsg'>${updateStatus}</p>` : '<br>'}

        <a href="/">Back to the Twits!</a>
    </div>
</body>
</html>